<div class="login-container" [class.success]="loginState === 'success'">
  <div class="overlay"></div>
  
  <!-- Content based on state -->
  <div class="login-content-wrapper" [ngClass]="loginState">
    
    <!-- Landing Page View -->
    <ng-container *ngIf="loginState === 'landing'">
      <header class="login-header">
        <div class="logo">
          <span class="logo-text">{{ logoTitle }}</span>
        </div>
        <div class="header-actions">
          <button class="login-button landing" (click)="onLogin()">Login</button>
        </div>
      </header>

      <main class="login-hero">
        <div class="hero-section">
          <h1 class="hero-title">Master the Board</h1>
          <p class="hero-subtitle">Experience Chess like never before with Chess Commander.</p>
        </div>
      </main>
    </ng-container>    <!-- Login Form View (Autograph) -->
    <ng-container *ngIf="loginState === 'form'">
      <app-autograph-longin (enterBet)="handleNext($event)" (back)="handleBack()"></app-autograph-longin>
    </ng-container>

    <!-- Password Board View -->
    <ng-container *ngIf="loginState === 'password'">
      <app-password-login (back)="handleBack()" (loginSuccess)="handleSuccess()"></app-password-login>
    </ng-container>

    <!-- <footer class="login-footer" *ngIf="loginState !== 'landing'">
      <p>© 2026 CHESS COMMANDER COMPETITIVE DIVISION</p>
    </footer> -->
  </div>


</div>
